#section
{
    height: 768px;
	max-width: 1280px;
	min-width: 1024px;
    width: auto;
	color: #181818; 
    font-family: "Times New Roman", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.guide
{
    font-size: 0.5em;
    font-style: normal;
    font-weight: normal;
	color: #181818;
    background-color: #B09039;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 10px 30px;
    border: 2px solid #505009;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #aaaaaa;
}

p
{
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

#commentsCell ul
{
	list-style-image: url('images/puce.png');
    list-style-type: none; /* on annule la puce par défaut */
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-left: 1.5em; /* pour éviter la superposition du contenu */
}

a.external
{
    background: url('images/spip_out.gif') no-repeat scroll right center transparent;
    padding-right: 12px;
}

a.external:link, a.external:visited 
{
	text-decoration: none;
    color: #181818;
}

a.external:focus, a.external:hover, a.external:active
{
    color: #181818;
    text-decoration: underline;
}

h2 /*.stepTitle*/
{
    background-color: #3383bb;
    padding: 10px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #aaaaaa;
    font-size: 150%;
	font-weight: bold;
    margin: 0px 0px 10px 0px;
}

em
{
    font-style: normal;
	font-weight: normal;
    color: #181818;
}

.stepSubTitle
{
    font-size: 60%;
	font-weight: normal;
    color: #DDDDDD;
	position: relative; 
	top: -0.1em; 
}

.step3
{
    background-color: #3383bb;
    padding: 2px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.linked
{
	cursor:  pointer;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #181818;
}

.labelColumn, .formColumn
{
	vertical-align: middle;
}

.labelColumn
{
	width: 25%;
	padding: 5px 0px 5px 0px;
}

.formColumn
{
	width: 75%;
	padding: 5px 30px 5px 0px;
}

.sliderPane
{
	padding: 5px 5px 5px 15px;
	margin: 10px 0px 0px 0px;
	background-color: #c9c9c9;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#columnSlider, #t0MoneySlider
{
    width: 100%;
}

.yearSlider
{
    width: 100%;
}

.yearSliderDiv
{
	margin-top: 15px;
}

#columnSliderLabel, .yearSliderLabel, #t0MoneySliderLabel
{
	vertical-align: top;
	display: inline;
}

.ui-slider-range
{
	background: #d2dce6;
}

#columnSlider .ui-slider-handle, #rowSlider .ui-slider-handle, #yearSlider2 .ui-slider-handle, #yearSlider3 .ui-slider-handle , #t0MoneySlider .ui-slider-handle
{
	border-color: #3383bb;
}

#aside
{
    height: 100%;
    vertical-align: top;
}

#commentsCell, #asideCell
{
	vertical-align: top;
    padding: 5px;
    background-color: #c9c9c9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
}

#asideCell
{
	width: 66%;
	min-width: 800px;
}

#commentsCell
{
	width: 33%;
}

.linked:hover
{
	text-decoration: underline;
}

.noBorderTable
{
	border: 0;
}

#udcTBodyPane
{
    overflow: auto;
}

#udcTHeaderTable, #udcTBodyTable
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    table-layout: fixed;
}

#udcTBodyTable tr.odd
{
	background-color: #E8E8FF;
}

#udcTBodyTable tr.even
{
	background-color: #d9d9d9;
}

#udcTHeaderTable th, #udcTBodyTable td
{
	border: 1px solid #aaaaaa;
    font-size: 80%;
}

#udcTHeaderTable th, #udcTBodyTable td
{
	padding: 4px;
	vertical-align: middle;
	overflow: hidden;
	width: 78px;
}

#udcTHeaderTable th
{
    color: #ffffff;
	background-image: url('images/table-shaded.png');
	height: 6em;
	text-align: center;
}

#udcTBodyTable tr
{
	height: 1.8em;
	overflow: hidden;
	text-align: right;
}

#udcTBodyTable td:hover
{
	cursor: pointer;
}

.commentAccordion
{
    height: 625px;
}

.stepRowForm
{
	text-align: left;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.labelWithForm, .radioDiv
{
    display: inline;
}

.labelWithForm, .radioDiv
{
    margin: 5px;
}

.numberForm, #commentsList
{
    font-family: "Times New Roman", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 100%;
	padding: 2px;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 5px;
	outline: none; /* Retire la bordure orange appliquée par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}

#commentsList
{
	background: #E8E8FF;
    padding: 3px;
    margin: 0px 0px 5px 0px;
    width: 100%;
}

.numberForm
{
	text-align: right;
	width: 5.5em;
    margin: 5px;
}

.radioForm
{
	margin-top: -1px;
    vertical-align: middle;
}
 
#commentsPane
{
    vertical-align: top;
}

.comment
{
    overflow: auto;
	padding: 6px 6px 6px 6px;
	background-color: #dedede;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.citation
{
	padding: 10px;
}

.reference
{
	text-align: right;
}

.subReference
{
    font-size: 0.7em;
}

.separator
{
    height: 5px;
    background: url('images/separateur.png') repeat-x top
}

.ui-tabs .ui-tabs-panel
{
	padding: 0.5em;
}

.ui-widget
{
    font-family: "Times New Roman", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 100%;
}

.comment .ui-widget-content
{
    background-color: #DEDEDE;
	background-image: none;
}

.ui-accordion .ui-accordion-content
{
	padding: 1em;
}

.plotTitle
{
    font-size: 1.5em;
	text-align: center;
}

#quantitativePlot1, #relativePlot1, #pieChart
{
	margin-top:5px;
	margin-left:5px;
}

#quantitativePlot1, #relativePlot1, #plotSeparator
{
	display: inline-block;
}

#pieChart .jqplot-data-label
{
	color: #000000
}
